body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.topnav{
    margin-right: 504px;
    margin-left: 381px;
    margin-top: -6px;
}
.topnav a{
	text-decoration: none;
	color: #5F5F5F;
	font-size: 18px;
	font-family: sans-serif;
}
.topnav a:hover{
	color: #1884f0f2;
}
.topnav h4{
	text-decoration: none;
	text-underline-position: none;
	color: #000;
	font-size: 17px;
}
.eig{
	background: #FD6965;
    margin-top: -36px;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    margin-left: 445px;
    margin-right: 18px;
}
h6{
	padding-left: 5px;
    padding-top: 1px;
    font-weight: bold;
}
.cap{
	margin-top: 25px;
    margin-bottom: -26px;
    margin-left: 106px;
}

.sec .btn{
	background: rgba(55,120,255,0.1);
    border-radius: 6px;
    padding: 15px 26px;
    color: #3778ff;
    display: inline-block;
    font-weight: 700;
    transition: 0.2s linear all;
    border: none;
    font-size: 18px;
	font-family: sans-serif;
	cursor: pointer;
	margin-top: -56px;
	margin-left: -16px;

}
.sec .btn:hover{
	background: #1884f04d;
}
.sec .btn i:hover{
	margin-left: 4px;
}
.sec a{
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-family: sans-serif;
	cursor: pointer;
	margin-left: -40px;
;	margin-right: 40px;
}
.sec a:hover{
	color: #1884f0f2;
}
/*End Header section*/

.main h1
{
	font-family: sans-serif;
	font-size: 33px;
    color: #233650;
    text-align: center;
    margin: 0;
    font-weight: 600;
    margin-top: 15px;
}

#set .bg-bubble
{
	overflow: hidden;
    height: 600px;
    position: absolute;
    width: 1000px;
    left: 50%;
    transform: translateX(-50%);
    top: 110px;
    opacity: 0.2;
    z-index: 0;
}

#set .bg-bubble .bubble-1 {
    background-image: linear-gradient(#c4d8fc 0%, #fff 45%);
    width: 1000px;
    height: 1000px;
    top: 0px;
    animation-delay: .6s;
    background-image: linear-gradient(#4788ff78 0%, #fff 45%);
    animation-name: jumbo-intro-bubble;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0.15;
    position: absolute;
    border-radius: 800px;
}
.bg-bubble .bubble-2 {
    width: 800px;
    height: 800px;
    top: 100px;
    margin-left: 100px;
    animation-delay: .5s;
    background-image: linear-gradient(#4788ff 0%, #fff 45%);
    animation-name: jumbo-intro-bubble;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0.25;
    position: absolute;
    border-radius: 800px;
}

.bg-bubble .bubble-3 {
    width: 600px;
    height: 600px;
    top: 200px;
    margin-left: 200px;
    animation-delay: .4s;
    background-image: linear-gradient(#4788ff 0%, #fff 45%);
    animation-name: jumbo-intro-bubble;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0.25;
    position: absolute;
    border-radius: 800px;
}

section .jb-center {
    animation-name: jumbo-intro;
    left: 50%;
    margin-left: -380px;
    position: absolute;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: 1s ease in out;
}

section .jb-right {
    animation-name: jumbo-right;
    animation-delay: 0.4s;
    top: 120px;
    right: -165px;
    transform: rotate(6deg) translateX(-280px);
    margin-left: 965px;
    margin-right: -180px;
    margin-top: 190px;
}

section .jb-left {
    animation-name: jumbo-left;
    animation-delay: 0.4s;
    top: 122px;
    left: -165px;
    transform: rotate(-10deg) translateX(280px);
}

.main{
	margin-top: 90px;
    min-height: 565px;
    background: linear-gradient(-180deg, #fff 0%, #e9eaf2 100%);
    overflow: hidden;
}

.main .beat
{
    font-size: 17px;
    color: #757f8d;
    text-align: center;
    margin: 10px 0 0;
    font-family: sans-serif;
    margin-top: 20px;
    letter-spacing: .5px;
}

/*End Bubbles section*/

#started{
	background: #FBFDFF;
	padding: 120px;
    margin-top: -2px;
    position: relative;
}

#started .in{
    font-size: 22px;
    color: #233650c9;
    text-align: center;
    line-height: 1.5;
    font-weight: 300;
    margin: 0px 0 15px;
    font-family: sans-serif;
    margin-top: -70px;
}

#started form,
.bottom form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background: #ffffff;
    border: 1px solid #dfe5f2;
    box-shadow: 0 0 24px 0 rgba(26,59,127,0.08);
    border-radius: 5px;
    padding: 12px;
    margin-right: 195px;
    margin-left: 198px;
}
#started form input,
.bottom form input {
    font-size: 16px;
    width: 500px;
    border: 0;
    padding: 16px;
    outline: none;
    font-family: sans-serif;
}
#started form button,
.bottom form button {
    background: #3778ff;
    box-shadow: 0 2px 8px 0 rgba(55,120,255,0.37);
    border-radius: 5px;
    border: 0;
    padding: 16px 25px;
    font-size: 16px;
    margin-left: 12px;
    color: #ffffff;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    font-family: sans-serif;
}

#started .trust{
    font-size: 16px;
    color: #8f99a8;
    letter-spacing: 0;
    text-align: center;
    margin: 40px 0 10px;
    font-weight: 300;
    font-family: sans-serif;
}

#started .yet{
    max-width: 90%;
    filter: saturate(0);
    transition: 1s all;
    opacity: 0.8;
    margin-left: 160px;
}

/*End Section of started*/

#card{
/*	position: absolute;
	transform: translate(-50%,-50%);
	transform-style: preserve-3d;*/
	perspective: 600px;
	transition: 0.5s;
	cursor: pointer;
}

#card .sim{
    font-size: 32px;
    color: #102a43;
    text-align: center;
    line-height: 1.4;
    font-weight: 600;
    margin: 0 0 10px;
    font-family: sans-serif;
    margin-top: 160px;
}

#card span{
    display: block;
    font-size: 19px;
    color: #334e68;
    letter-spacing: 0;
    text-align: center;
    line-height: 1.4;
    font-weight: 400;
    margin: 0 0 10px;
    font-family: sans-serif;
}

/*Card one Startrt*/

#card .front1 .imeg,
#card .front2 .imeg,
#card .front3 .imeg
{
	border: 2px solid #eee;
    border-color: rgba(55,120,255,0.1);
    width: 192px;
    padding: 50px 65px 100px 90px;
    margin-left: 120px;
    border-radius: 10px;
    margin-top: 50px;
    position: absolute;
    top: 100px;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: 0.5s;
}

#card:hover .front1 .imeg,
#card:hover .front2 .imeg,
#card:hover .front3 .imeg
{
	transform: rotateY(180deg);
	border-color: 004be79c;
}

#card .back1,
#card .back2,
#card .back3
{
	border: 2px solid #eee;
    border-color: rgba(55,120,255,0.1);
    width: 192px;
    padding: 50px 65px 89px 90px;
    margin-left: 120px;
    border-radius: 10px;
    margin-top: 50px;
    position: absolute;
    top: 100px;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
}

#card:hover .back1,
#card:hover .back2,
#card:hover .back3
{
	transform: rotateY(0deg);
	border-color: #004be79c;
	box-shadow: 1px 1px 10px 10px rgba(4, 4, 4, 0.03);
}

#card .back1 .details ul,
#card .back2 .details ul,
#card .back3 .details ul 
{
    width: 100%;
    text-align: left;
    min-height: 300px;
    margin: 30px 0 0;
    text-decoration: none;
}

#card .back1 .details ul li,
#card .back2 .details ul li,
#card .back3 .details ul li
{
    text-decoration: none;
    margin-left: -74px;
    font-family: sans-serif;
    line-height: 22px;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

#card .back1 .details a,
#card .back2 .details a,
#card .back3 .details a
{
	text-decoration: none;
    color: #3778ff;
    font-family: sans-serif;
    background: rgba(55,120,255,0.1);
    font-weight: bold;
    padding: 15px 72px;
    margin-left: -48px;
    margin-right: -20px;
    border-radius: 5px;
    margin-top: 20px;
}

#card .back1 .details a:hover,
#card .back2 .details a:hover,
#card .back3 .details a:hover
 {
    background: #1884f04d;
}

#card .back1 .details strong,
#card .back2 .details strong,
#card .back3 .details strong
{
	font-size: 25px;
    margin: 25px 0 10px;
    display: block;
    font-weight: 600;
    color: #3778ff;
    font-family: sans-serif;
    margin-left: -30px;
    margin-right: -60px;
}

#card .front1 .imeg strong,
#card .front2 .imeg strong,
#card .front3 .imeg strong
{
	font-size: 25px;
    margin: 25px 0 10px;
    display: block;
    font-weight: 600;
    color: #3778ff;
    font-family: sans-serif;
    margin-left: -20px;
}

#card .front1 .imeg .has,
#card .front2 .imeg .has,
#card .front3 .imeg .has{
	font-size: 17.5px;
    color: #303030c2;
    line-height: 1.8;
    font-weight: 300;
    font-family: sans-serif;
    text-align: center;
    margin-left: -57px;
    margin-right: -28px;
}
#card .front1 .imeg .summary:before,
#card .front2 .imeg .summare:before,
#card .front3 .imeg .summari:before{
	content: "";
    position: absolute;
    width: 154px;
    height: 134px;
    top: 0px;
    right: -1px;
    border-radius: 213px 10px 252px 378px;
    z-index: -1;
    background: rgba(55,120,255,0.05);
}

/*Card end*/


#new h2{
    margin-top: 800px;
    font-size: 33px;
    color: #102a43;
    text-align: center;
    line-height: 1.4;
    font-weight: 600;
    margin: 800px 0 10px;
    font-family: sans-serif;
}

#new span{
	display: block;
    font-size: 21px;
    color: #334e68;
    letter-spacing: 0;
    text-align: center;
    line-height: 1.4;
    font-weight: 400;
    margin: 0 0 10px;
    font-family: sans-serif;
}

#new #side{
	margin-top: 130px;
	margin-left: 150px;
}

#new .summara{
	content: "";
    position: absolute;
    width: 154px;
    height: 134px;
    top: 0px;
    right: -1px;
    border-radius: 213px 10px 252px 378px;
    z-index: -1;
    background: rgba(55,120,255,0.05);
}

#new .bol{
	background: #F7FAFF;
    border-radius: 40px;
    padding: 140px;
    content: "";
    border-radius: 213px;
    margin-left: 400px;
    margin-top: 63px;
    margin-right: 700px;
	margin-bottom: -350px; 
}

#new .column{
    margin-left: 760px;
    margin-top: -293px;
}

#new .column h3{
	font-size: 24px;
    color: #233650;
    font-family: sans-serif;
}

#new .column .line{
	border: 1px solid #C2D6FF;
	padding: 2px;
	margin-right: 545px;
    margin-left: 2px;
    margin-top: -14px;
    border-radius: 5px;
    background: #C2D6FF;
}

#new .column p{
	text-align: left;
    font-size: 18px;
    color: #303030;
    line-height: 1.6;
    font-weight: 300;
    font-family: sans-serif;
    margin-right: 100px;
}

#new .column a{
    font-weight: 300;
    text-decoration: none;
    color: #3778ff;
    font-family: sans-serif;
}

/*End This section*/

.color{
	background: #F7FAFF;
	margin-top: 200px;
	padding-top: 150px;
	padding-bottom: 50px;
}

.color h3{
    font-size: 24px;
    color: #233650;
    font-family: sans-serif;
    margin-left: 161px;
}
.color .line{
	border: 1px solid #C2D6FF;
	padding: 2px;
	margin-right: 1141px;
    margin-top: -14px;
    border-radius: 5px;
    background: #C2D6FF;
    margin-left: 163px;
}
.color p {
    text-align: left;
    font-size: 18px;
    color: #303030;
    line-height: 1.6;
    font-weight: 300;
    font-family: sans-serif;
    margin-left: 163px;
    margin-top: 35px;
    margin-right: 715px;
}
.color #sde
{
	margin-left: 800px;
    margin-top: -275px;
}

.color .bol{
    background: #EFF5FF;
    border-radius: 40px;
    padding: 140px;
    content: "";
    border-radius: 180px;
    margin-left: 698px;
    margin-right: 406px;
    margin-top: -333px;
    margin-bottom: 85px;
}

/*End Section*/

#new .remaining {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
}

#new .remaining h4 {
    flex-basis: 100%;
    margin: 30px 0;
    font-weight: 300;
    color: #868686;
    text-align: center;
    font-family: sans-serif;
    margin-top: 220px;
}

#new .remaining span {
    flex-basis: 21%;
    padding: 16px 0;
    font-family: sans-serif;
    font-size: 16px;
}

/*End Section*/

#cardes{
	background: #F6F8FC;
	padding-bottom: 140px;
	padding-top: 60px;
	clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

#cardes .are{
    font-size: 32px;
    color: #102a43;
    text-align: center;
    line-height: 1.4;
    font-weight: 600;
    margin: 0 0 10px;
    font-family: sans-serif;
}

#cardes .imagge img{
	width: 350px;
}

/*End Card section*/

.bottom h2{
    font-size: 28px;
    color: #102a43;
    text-align: center;
    line-height: 1.4;
    font-weight: 600;
    margin: 0 0 10px;
    font-family: sans-serif;
    margin-top: 100px;
}

.bottom h3{
	margin: 10px 0 40px;
    color: #405261;
    font-weight: 300;
    font-family: sans-serif;
    text-align: center;
    margin-top: 15px;
}

.bottom p {
    font-size: 14px;
    color: #b3b3b3;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
}




.foot .col-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}

.foot .brand {
    font-size: 16px;
    color: #909090;
    width: 360px;
    margin-bottom: 20px;
}

.foot .col-wrapper .brand .not{
	margin-left: -113px;
	margin-top: 5px;
}

.foot .brand span {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0 30px;
    display: inline-block;
    color: #6194ff;
  /*  margin-left: 110px;*/
    font-family: sans-serif;
}

.foot .brand {
    font-size: 16px;
    color: #909090;
    width: 360px;
    margin-bottom: 20px;
    font-family: sans-serif;
    margin-left: 110px;
}

.foot h4{
    cursor: pointer;
    position: relative;
    font-family: sans-serif;
}

.nav{
	margin-left: -38px;
}

.nav li{
	list-style: none;
	margin-top: 15px;
}

.nav li a{
	text-decoration: none;
	color: #909090;
	font-family: sans-serif;
}

.nav li a:hover{
	color: #1884f0f2;
}